body {
    font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
}

.container {
    max-width: 750px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border: 1px solid #cecece;
    border-radius: 8px;
}

.alert {
    font-size: 10pt;
    padding: 7px;
    margin-top: 15px;
}

.main-title {
    margin-top: 32px;
    margin-bottom: 12px;
}

label {
    margin-top: 15px;
    font-size: 11pt;
}

.btn {
    margin-top: 10px;
}